<app-first [message]="parentMessage" (messageEvent)="receiveMsg($event)" [sendChild]="sendToChild"
    (parentEvent)="receiveParentMsg($event)"></app-first>
{{message}}

{{parentMsg}}

<hr>

<!-- <app-second /> -->

<!-- <app-third /> -->

<!-- <app-fourth /> -->

<!-- <app-fifth/> -->

<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="first">first</a></li>
        <li><a routerLink="second">second</a></li>
        <li><a routerLink="third">third</a></li>
        <li><a routerLink="fourth">fourth</a></li>
        <li><a routerLink="fifth">fifth</a></li>
        <li><a routerLink="sixth">sixth</a></li>
        <li><a routerLink="seventh">seventh</a></li>
    </ul>
</nav>
<hr>
<router-outlet></router-outlet>